<div class="max-w-2xl mx-auto p-4">
  <div class="bg-white shadow-md rounded-lg p-6">
    <h2 class="text-2xl font-bold mb-4">Panier</h2>
    <div
      *ngFor="let item of items"
      class="flex justify-between items-center mb-4"
    >
      <div>{{ item.name }}</div>
      <div>{{ item.price | currency }}</div>
      <button
        mat-raised-button
        (click)="removeItem(item)"
        class="bg-red-500 text-white px-2 py-1 rounded-md"
      >
        Retirer
      </button>
    </div>
    <div class="text-right font-bold text-lg">
      Total: {{ getTotal() | currency }}
    </div>
    <button
      mat-flat-button
      class="bg-green-500 text-white px-4 py-2 rounded-md mt-4"
    >
      Passer la commande
    </button>
  </div>
</div>
