.card-container {
  width: 100%;
  height: 100%;

  .card-bg {
    background-color: #87cf66;
    width: 100%;
    height: 260px;
  }
  .list {
    list-style-type: decimal;
    list-style-position: inside;
    text-align: justify;
    color: white;
  }
}
.section-offres {
  background-color: #87cf66;
}

@media screen and (min-width: 640px) {
  .card-bg {
    max-width: 420px;
  }
}
