<section class="card-container flex flex-col justify-evenly items-center">
  <div class="w-full">
    <div class="card-header p-2 bg-black rounded-b-sm">
      <p class="text-center uppercase text-white text-xl sm:text-6xl">
        Carte de Fidélité So Eat
      </p>

      <div
        class="card-bg flex flex-col mx-auto shadow-md shadow-green-600 rounded-lg overflow-hidden border-white"
      >
        <div class="p-2">
          <div class="flex justify-between p-2">
            <p class="text-lg text-left">Carte fidélité</p>
            <img
              class="w-16 rounded-full"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxSD3MwQvgfJZW9_Bkzic-IBL_nsZDHVidpg&s"
              alt="logo"
            />
          </div>
          <div
            class="infos-card h-full w-full flex flex-col justify-between items-center"
          >
            <mat-progress-bar
              mode="determinate"
              [value]="progress"
            ></mat-progress-bar>
            <div class="flex justify-between">
              <span>Menus achetés: {{ menusBought }}/10</span>
              @if (menusBought === 10) {
              <span>🥤🍟+</span>
              }
            </div>
            <div>
              <a href="/home#section-menus">
                <button mat-flat-button color="primary" type="button">
                  Acheter un menu
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h3 class="text-center uppercase">Nos recommandations</h3>
    <div
      class="section-offres overflow-scroll sm:overflow-hidden py-2 mx-auto rounded-md p-2"
    >
      <app-offres></app-offres>
    </div>

    <div class="bg-black p-2 rounded-md">
      <div class="w-full flex flex-col justify-center items-center py-2">
        <h3 class="text-white">Étapes à suivre</h3>
        <ol class="list">
          <li>Achetez un menu au choix.</li>
          <li>Cumulez jusqu'à 10 menus.</li>
          <li>Présentez votre code unique à la caisse.</li>
          <li>Profitez de votre 11ème menu gratuit!</li>
        </ol>
      </div>
      <mat-divider></mat-divider>
      <div class="w-full flex flex-col justify-center items-center m-auto py-2">
        <h3 class="text-center text-white">Cumulez vos points</h3>
        <p class="text-white text-justify">
          Au passage en caisse n'oubliez pas de faire flasher ce code pour
          cumuler vos points! Lorsque vous avez accumulé 10 menus,
          présentez-vous à la caisse et votre 11ème menu vous sera offert
          gratuitement après verification.
        </p>
      </div>
    </div>
    <div class="w-full flex flex-col justify-center items-center py-2 m-auto">
      <h6 class="text-center">Conditions Générales</h6>
      <p class="text-sm text-slate-400">
        Les codes uniques sont valables pendant un an à partir de la date
        d'émission. Un seul menu gratuit par carte de fidélité remplie. Cette
        offre n'est pas cumulable avec d'autres promotions.
      </p>
    </div>
  </div>
</section>
