<footer class="bg-black text-white py-3">
  <div class="container mx-auto px-2">
    <div class="flex flex-wrap">
      <div class="w-full md:w-1/2 mb-6 md:mb-0">
        <div class="bg-white w-40 rounded-sm">
          <img src="/assets/images/so-eat.png" alt="logo" />
        </div>
        <p>Le meilleur fast-food en ville!</p>
        <p>✅ OUVERT 7J/7</p>
        <p>📍2 Rue de la Frasse, 74950 Scionzier</p>
        <p>📞 04.50.98.19.98</p>
      </div>
      <div class="w-full md:w-1/2 flex justify-end">
        <a
          href="https://www.facebook.com/profile.php?id=100047020938189"
          target="_blank"
          class="lien flex justify-center items-center w-fit h-fit bg-white rounded-lg mx-1"
          ><mat-icon>
            <img
              src="/assets/images/facebook.png"
              alt="logo-Facebook"
            /> </mat-icon
        ></a>

        <a
          href="https://www.instagram.com/so_eat74?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
          target="_blank"
          class="lien flex justify-center items-center w-fit h-fit mx-1"
          ><mat-icon>
            <img src="/assets/images/instagram.png" alt="logo-Insta" />
          </mat-icon>
        </a>
      </div>
    </div>
    <div class="mt-6 text-center">
      <p>&copy; 2024 So Eat. Tous droits réservés.</p>
    </div>
  </div>
</footer>
