.example-spacer {
  flex: 1 1 auto;
}
.header-bg {
  background-color: #87cf66;
  transition: all 0.3s ease-in;
  .icon-color {
    color: black;
    transition: all 0.3s ease-in;
  }
  &:hover {
    background-color: white;
    .icon-color {
      color: #87cf66;
    }
  }
}
