<div class="container bg-black rounded-sm mx-auto p-2">
  <mat-toolbar class="header-bg">
    <button type="button" mat-icon-button (click)="onToggleDrawer()">
      <mat-icon class="rounded-md">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxSD3MwQvgfJZW9_Bkzic-IBL_nsZDHVidpg&s"
          alt="logo-snack"
      /></mat-icon>
    </button>
    <span>SO EAT</span>

    <span class="example-spacer"></span>
    <button (click)="onProfil()" mat-icon-button>
      <mat-icon class="icon-color rounded-full"> account_circle </mat-icon>
    </button>
    <button (click)="onCart()" mat-icon-button>
      <mat-icon class="icon-color rounded-full">shopping_basket</mat-icon>
    </button>
  </mat-toolbar>
</div>
