<mat-tab-group
  dynamicHeight
  animationDuration="800ms"
  mat-stretch-tabs="false"
  mat-align-tabs="center"
>
  <mat-tab *ngFor="let burger of burgers" [label]="burger.name">
    <div class="p-1">
      <app-burgers-details [burger]="burger"></app-burgers-details>
    </div>
  </mat-tab>
</mat-tab-group>
