<div class="bandeau-top"></div>
<section class="flex flex-col overflow-hidden">
  <div class="container">
    <div class="mb-6">
      <p
        id="section-best-sellers"
        class="title text-center text-lg md:text-3xl uppercase italic"
      >
        Best Sellers<span class="ml-3 not-italic">🍔🌯!</span>
      </p>

      <div class="overflow-scroll mx-auto sm:overflow-hidden">
        <app-offres></app-offres>
      </div>
    </div>
    <div id="section-menus">
      <app-list-items></app-list-items>
    </div>
  </div>
  @defer {
  <div class="container">
    <app-reviews [slides]="slides"></app-reviews>
  </div>
  }
</section>
