.title {
  margin: 1.5rem 0;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.bandeau-top {
  background: url("https://scontent-mrs2-2.xx.fbcdn.net/v/t39.30808-6/332504635_1289191125000883_1362126146063888576_n.jpg?stp=cp6_dst-jpg&_nc_cat=101&ccb=1-7&_nc_sid=5f2048&_nc_aid=0&_nc_ohc=r9DK7ENwRcQQ7kNvgFo3Oxk&_nc_ht=scontent-mrs2-2.xx&oh=00_AYDM40WOrmBREilYImTBOKSHVsXY8Rk2LIlv8HObNGqV9Q&oe=667E7808");
  background-size: cover;
  height: 400px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
