<mat-tab-group
  dynamicHeight
  animationDuration="800ms"
  mat-stretch-tabs="false"
  mat-align-tabs="center"
>
  <mat-tab *ngFor="let wrap of wraps" [label]="wrap.name">
    <div class="p-1">
      <app-wraps-details [wrap]="wrap"></app-wraps-details>
    </div>
  </mat-tab>
</mat-tab-group>
