<div class="max-w-2xl mx-auto p-4">
  <div class="bg-white shadow-md rounded-lg p-6">
    <h2 class="text-2xl font-bold mb-4">Profil Utilisateur</h2>
    <div class="mb-4">
      <label class="block text-sm font-medium text-gray-700">Nom</label>
      <input
        class="mt-1 p-2 w-full border border-gray-300 rounded-md"
        type="text"
        placeholder="Votre nom"
      />
    </div>
    <div class="mb-4">
      <label class="block text-sm font-medium text-gray-700">Email</label>
      <input
        class="mt-1 p-2 w-full border border-gray-300 rounded-md"
        type="email"
        placeholder="Votre email"
      />
    </div>
    <div class="mb-4">
      <label class="block text-sm font-medium text-gray-700"
        >Mot de passe</label
      >
      <input
        class="mt-1 p-2 w-full border border-gray-300 rounded-md"
        type="password"
        placeholder="Votre mot de passe"
      />
    </div>
    <button class="bg-blue-500 text-white px-4 py-2 rounded-md">
      Enregistrer
    </button>
  </div>
</div>
