<div class="flex justify-center">
  <mat-card>
    <mat-card-title class="p-2">{{ taco.name }}</mat-card-title>
    <div class="flex justify-center p-2 mx-auto">
      @if (taco.imageUrl) {

      <img
        matCardImageXLarge
        class="img-card"
        [src]="taco.imageUrl"
        alt="{{ taco.name }}"
      />
      }
    </div>
    <mat-card-content class="p-2 text-justify w-80">
      <p>
        {{ taco.description }}
      </p>
      <p>
        {{ taco.price | currency : "EUR" : "symbol" : "1.2-2" : "fr" }}
      </p>
    </mat-card-content>
    <mat-card-actions class="p-2">
      <button mat-flat-button>Ajouter</button>
    </mat-card-actions>
  </mat-card>
</div>
