<mat-drawer-container class="drawer" autosize [hasBackdrop]="true">
  <mat-drawer #drawer mode="side">
    <div class="flex justify-center items-center bg-black">
      <a href="/home">
        <img
          class="object-cover rounded-md"
          src="https://scontent-mrs2-1.xx.fbcdn.net/v/t39.30808-6/312922496_650819103162115_6917406238393246123_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=5f2048&_nc_ohc=ugTcZL65ubgQ7kNvgEwGbgn&_nc_ht=scontent-mrs2-1.xx&oh=00_AYAnMNRlTf5SxKF_MYFCGPs7oLS9QNYorYrbHOcUErOh8A&oe=667EDFB7"
          alt="bandeau-logo"
        />
      </a>
    </div>

    <ul
      class="sidebar mx-auto flex flex-col justify-evenly items-center h-full w-full"
    >
      <li class="my-1 w-full">
        <a class="flex mx-8" href="/home">
          <button class="w-full" color="primary" mat-flat-button>
            Accueil
          </button>
        </a>
      </li>
      <li class="my-1 w-full">
        <a class="flex mx-8" href="home#section-best-sellers">
          <button class="w-full" color="primary" mat-flat-button>
            Best Sellers
          </button>
        </a>
      </li>

      <li class="my-1 w-full">
        <a (click)="showCard()" class="flex mx-8" [routerLink]="['/card']">
          <!-- [routerLink]="['/', { outlets: { card: ['card'] } }]" -->
          <button class="w-full" color="primary" mat-flat-button>
            Points fidélité
          </button>
        </a>
      </li>
      <li class="my-1 w-full">
        <a class="flex mx-8" href="home#section-reviews">
          <button class="w-full" color="primary" mat-flat-button>Avis</button>
        </a>
      </li>
      <li class="my-1 w-full">
        <a class="flex mx-8" href="home#section-menus">
          <button class="w-full" color="primary" mat-flat-button>Menus</button>
        </a>
      </li>
      <li class="my-1 w-full">
        <a class="flex mx-8" [routerLink]="['/burgers']">
          <button class="w-full" color="primary" mat-flat-button>
            Burgers
          </button>
        </a>
      </li>
      <li class="my-1 w-full">
        <a class="flex mx-8" [routerLink]="['/wraps']">
          <button class="w-full" color="primary" mat-flat-button>Wraps</button>
        </a>
      </li>
      <li class="my-1 w-full">
        <a class="flex mx-8" [routerLink]="['/tacos']">
          <button class="w-full" color="primary" mat-flat-button>Tacos</button>
        </a>
      </li>
      <li class="my-1 w-full">
        <a class="flex mx-8" [routerLink]="['/sides']">
          <button class="w-full" color="primary" mat-flat-button>Sides</button>
        </a>
      </li>
      <li class="my-1 w-full">
        <a class="flex mx-8" [routerLink]="['/desserts']">
          <button class="w-full" color="primary" mat-flat-button>
            Desserts
          </button>
        </a>
      </li>
    </ul>
  </mat-drawer>

  <div class="sticky top-0 z-50 scroll-smooth">
    <app-header (toggleDrawer)="drawer.toggle()"></app-header>
  </div>
  <section class="flex flex-col items-center overflow-hidden">
    <div class="container">
      <router-outlet name="card" *ngIf="carteFidelite"></router-outlet>

      <router-outlet></router-outlet>
    </div>
  </section>
  <app-footer></app-footer>
</mat-drawer-container>
