.slide {
  min-width: 100%;
  transition: opacity 800 ease-in;
  opacity: 0;
}
.slide.active {
  opacity: 1;
}

.rightArrow {
  position: absolute;
  top: 80%;
  transform: translate(0, -50%);
  right: 32px;
  font-size: 45px;
  color: #408730;
  z-index: 1;
  cursor: pointer;
}

.leftArrow {
  position: absolute;
  top: 80%;
  transform: translate(0, -50%);
  left: 32px;
  font-size: 45px;
  color: #408730;
  z-index: 1;
  cursor: pointer;
}

.slider {
  position: relative;
  height: 100%;
}
.slides {
  display: flex;
  transition: transform 0.5s ease-in;
}

.dotsContainer {
  display: flex;
  justify-content: center;
}

.dot {
  cursor: pointer;
  font-size: 1.5rem;
  margin: 0 0.25rem;
  color: #ccc;
}

.dot.active {
  color: #000;
}
.title {
  margin: 1.5rem 0;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
