<h3 id="section-reviews">
  <p class="title text-center text-lg md:text-3xl uppercase">
    <span class="ml-3 not-italic text-yellow-400"
      ><mat-icon>star</mat-icon></span
    >
    Avis<span class="ml-3 not-italic text-yellow-400"
      ><mat-icon>star</mat-icon></span
    >
  </p>
</h3>
<div class="slider">
  <div>
    <div (click)="goToPrevious()" class="leftArrow">❰</div>
    <div (click)="goToNext()" class="rightArrow">❱</div>
  </div>
  <div
    class="slides container"
    [style.transform]="'translateX(-' + currentIndex * 100 + '%)'"
  >
    @for (slide of slides; track $index;) {
    <mat-card
      class="slide flex justify-center items-center"
      [class.active]="$index === currentIndex"
    >
      @if (slide.avatarUrl) {
      <mat-card-header>
        <div class="flex flex-col items-center">
          <img
            [src]="slide.avatarUrl"
            [alt]="slide.avatarUrl"
            mat-card-md-image
          />
          @if (slide.username) {
          <p class="uppercase">{{ slide.username }}</p>
          }
        </div>
      </mat-card-header>
      } @else {

      <mat-card-header>
        <div class="flex flex-col items-center">
          <img
            src="/assets/avatars/homme-2.png"
            [alt]="slide.avatarUrl"
            mat-card-md-image
          />

          <p>Anonyme</p>
        </div>
      </mat-card-header>
      }

      <mat-card-title>{{ slide.title }}</mat-card-title>
      <mat-card-content>
        <p class="text-justify">"{{ slide.review }}"</p>
      </mat-card-content>
      <div class="text-yellow-500 mt-4">
        <ng-container
          *ngFor="let star of [].constructor(slide.stars); let i = index"
        >
          <mat-icon>star</mat-icon>
        </ng-container>
        <ng-container
          *ngFor="
            let emptyStar of [].constructor(5 - slide.stars);
            let i = index
          "
        >
          <mat-icon>star_border</mat-icon>
        </ng-container>
      </div>
      <p>{{ slide.stars }}/5</p>
    </mat-card>
    }
  </div>
  <div class="dotsContainer">
    <div
      *ngFor="let slide of slides; let slideIndex = index"
      class="dot"
      [class.active]="slideIndex === currentIndex"
      (click)="goToSlide(slideIndex)"
    >
      ●
    </div>
  </div>
</div>
