<mat-tab-group
  dynamicHeight
  animationDuration="800ms"
  mat-stretch-tabs="false"
  mat-align-tabs="center"
>
  <mat-tab *ngFor="let side of sides" [label]="side.name">
    <div class="p-1">
      <app-sides-details [side]="side"></app-sides-details>
    </div>
  </mat-tab>
</mat-tab-group>
