<h3 id="section-menus">
  <p class="title text-center text-lg md:text-3xl uppercase">
    La carte<span class="ml-3 not-italic">🍟🥤!</span>
  </p>
</h3>

<div class="w-full product-list flex flex-col md:flex-row justify-evenly">
  <mat-card
    *ngFor="let product of products"
    class="product-card flex-1 p-1 m-1"
  >
    <mat-card-header>
      <mat-card-title
        >Menus:
        <span class="font-bold uppercase">{{
          product.name
        }}</span></mat-card-title
      >
    </mat-card-header>
    @defer {

    <img
      rel="preload"
      mat-card-image
      [src]="product.imageUrl"
      alt="{{ product.name }}"
    />
    }
    <mat-card-content>
      <p class="text-xs sm:text-base">{{ product.description }}</p>
      <p>
        <strong>Prix:</strong>
        {{ product.price | currency : "EUR" : "symbol" : "1.2-2" : "fr" }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button>Details</button>
    </mat-card-actions>
  </mat-card>
</div>
