/* src/app/product-list/product-list.component.css */
.product-list {
  margin: auto;
  padding: 0 4px;
}

.product-card {
  box-shadow: 2px 2px 10px black;
}

.title {
  margin: 1.5rem 0;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
