@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.container-cards {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
  padding-bottom: 4px;
}

@media screen and (min-width: 640px) {
  /* sm: */
  // .container-cards {
  //   flex-wrap: wrap;
  //   justify-content: space-between;
  // }
  .container-cards {
    width: 100%; /* Full width */
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns of equal width */
    grid-template-rows: repeat(2, auto); /* 2 rows of automatic height */
    gap: 5px; /* Gap between grid items */
  }
}
