<mat-card class="offre p-1 h-full">
  <mat-card-header class="p-1">
    <mat-card-title class="title">{{ offer.title }}</mat-card-title>
  </mat-card-header>
  @defer {

  <img
    mat-card-image
    rel="preload"
    [src]="offer.image"
    alt="{{ offer.title }}"
    class="w-full h-48 object-cover rounded-t-lg"
  />
  }
  <mat-card-content>
    <!-- <p class="text-xs text-slate-400 mt-1">{{ offer.description }}</p> -->
  </mat-card-content>
  <mat-card-actions class="w-full justify-between">
    <button mat-icon-button>
      <mat-icon class="text-red-500">favorite</mat-icon>
    </button>
    <button mat-stroked-button>Details</button>
  </mat-card-actions>
</mat-card>
