<mat-tab-group
  dynamicHeight
  animationDuration="800ms"
  mat-stretch-tabs="false"
  mat-align-tabs="center"
>
  <mat-tab *ngFor="let taco of tacos" [label]="taco.name">
    <div class="p-1">
      <app-tacos-details [taco]="taco"></app-tacos-details>
    </div>
  </mat-tab>
</mat-tab-group>
